[submodule "themes/booty"]
	path = themes/booty
	url = https://github.com/fabiodev/booty.git
[submodule "plugins/log-book"]
	path = plugins/log-book
	url = https://github.com/fabiodev/log-book.git
[submodule "plugins/ad-soc"]
	path = plugins/ad-soc
	url = https://github.com/fabiodev/ad-soc.git
